.root {
  -fx-padding: 15; 
  -fx-background-color: cornsilk;
}

#reportTextField {
  -fx-background-image:url('green_check.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-font-size: 12;
}
